// Import styles here
span {
  margin: 10px;
}


.center-svg {
  top: 50%;
  left: 50%;
  position: absolute;
}

.pt {
  text-align: left;
  text-transform: capitalize;
  float: left;
  font-weight: bolder;
}

.ps {
  text-align: right;
  text-transform: capitalize;
  float: right;
  font-weight: bolder;
}

.chart {
  width: 33vw;
  padding: 20px;
}

#container-charts {
  width: 100%;
  text-align: center;
  margin-top: 50px;

}

#chart1 {
  float: left;
}

#chart2 {
  display: inline-block;
  margin: 0 auto;
}

#chart3 {
  float: right;
}


.title-inside {
  text-anchor: middle;
  text-transform: uppercase;
  fill: #a0a0a0;
  font-size: 20px;
}

.value-inside {
  text-anchor: middle;
  fill: #515151;
  font-size: 28px;
  font-weight: bolder;
}

.c-carousel {
  width: 100%;
  position: relative;
  margin-top: 30px;
  overflow: hidden;
}
.c-carousel__arrow {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 50%;
  z-index: 1;
  -webkit-transform: translateY(-50%) rotate(45deg);
  transform: translateY(-50%) rotate(45deg);
  background-color: white;
}
.c-carousel__arrow--left {
  background-color: gray;
  left: 15px;
}
.c-carousel__arrow--right {
  background-color: gray;
  right: 15px;
}
.c-carousel__slides {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
  will-change: transform;
}

@media screen and (max-width: 1010px) {
  .chart {
    width: 100vw !important;
  }
}
